* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
body {
    font-family: 'Roboto Mono', monospace; 
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    color: white;
    background-color: #4e4e4e;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: justify;
    justify-content: space-between;
}
a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}
a:hover {
    color: greenyellow;
}
.h2-hide {
    display: none;
}
header {
    height: 700px;
    background: #2c3e50;
    flex: 0 0 auto;
}
.img {
    position: relative;
    top: 80px;
    left: 80px;
}
.name {
    color: yellow;
    font-weight: 700;
    font-size: 40px;
    font-style: italic;
    text-align: left;
    position: relative;
    left: 550px;
    bottom: 400px;
}
.surname {
    color: yellow;
    font-weight: 700;
    font-size: 40px;
    font-style: italic;
    text-align: left;
    position: relative;
    left: 650px;
    bottom: 450px;
}
.speciality {
    color: yellow;
    font-weight: 700;
    font-size: 30px;
    font-style: italic;
    text-align: left;
    position: relative;
    left: 965px;
    bottom: 620px;
}
.contacts {
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    position: relative;
    left: 545px;
    bottom: 485px;
}
.nav-list {
    justify-content: flex-end;
    align-items: center; 
    position: relative;
    bottom: 430px; 
    left: 40px;
}
.nav-item {
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    text-align: left;
    display: inline;
    margin-right: 105px;
}
.summary {
    height: 470px;
    background: #194e72;
    font-weight: 700;
    font-size: 20px;
    padding: 80px;
}
.summary-h2 {
    color: yellow;
    text-align: left;
}
.skills {
    vertical-align: middle;
    height: 545px;
    background: #185b6b;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    padding: 80px;
}
.skills-h2 {
    color: yellow;
    text-align: center;
}
.skills-list-1 {
    float: left;
    position: relative;
    left: 150px;
}
.skills-list-2 {
    float: right;
    position: relative;
    right: 185px;
}
.skills-item {
    list-style-type: square;
    display: list-item;
}
.code-example {
    vertical-align: middle;
    height: 1090px;
    background: #371b77;
    font-weight: 700;
    font-size: 20px;
    padding: 80px;
}
.code-example-h2 {
    color: yellow;
    text-align: right;
}
.projects {
    vertical-align: middle;
    height: 360px;
    background: #68486b;
    font-weight: 700;
    font-size: 20px;
    padding: 80px;  
}
.projects-h2 {
    color: yellow;
    position: relative;
    left: 100px;
    text-align: left;
}
.github-1 {
    text-align: left;
    font-size: 20px;
    position: relative;
    left: 350px;
}
.github-2 {
    text-align: left;
    font-size: 20px;
    position: relative;
    left: 600px;
}
.education {
    vertical-align: middle;
    height: 385px;
    background: #1a6375;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    padding: 80px;
}
.education-h2 {
    color: yellow;
    text-align: center;
}
.education-list {
    float: left;
    position: relative;
    left: 150px;
}
.education-item {
    list-style-type: square;
    display: list-item;
}
.english {
    vertical-align: middle; 
    height: 350px;
    background: #1a7566;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    padding: 80px;
}
.english-h2 {
    color: yellow;
    float: center;
    font-size: 30px;
    position: relative;
    left: 350px;
    text-align: left;
}
.english-item {
    text-align: center;
    font-size: 40px;
    position: relative;
    left: 350px;
    color: red;
}
footer {
    height: 250px;
    background: #2c3e50;
}
.rss {
    float: right;
    position: relative;
    right: 235px;
    top: 80px;
}
.link {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    left: 235px;
    top: 80px;
}
.year {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    left: 235px;
    top: 80px;
}