* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
    overflow-x: hidden;
}
body {
    font-family: 'Roboto Mono', monospace; 
    max-width: 1440px;
    margin: 0 auto;
    color: white;
    background-color: rgb(124, 124, 124);
    text-align: justify;
}
a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}
a:hover {
    color: greenyellow;
}
h2 {
    color: yellow;
}
.h2-hide {
    display: none;
}
header {
    height: 700px;
    background: #2c3e50;
    border-radius: 20px;
}
.img {
    position: relative;
    top: 80px;
    left: 80px;
}
.name {
    color: yellow;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    left: 550px;
    bottom: 400px;
}
.surname {
    color: yellow;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    left: 650px;
    bottom: 450px;
}
.speciality {
    color: yellow;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    left: 965px;
    bottom: 620px;
}
.contacts {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 545px;
    bottom: 485px;
}
.nav-list {
    text-align: center;
    position: relative;
    bottom: 430px; 
    border: 1px solid white;
    background-color: #777248;
    border-radius: 20px;
    margin: 50px;
}
.nav-item {
    font-weight: bold;
    font-size: 24px;
    display: inline;
    margin: 42px;
}
.summary {
    height: 470px;
    background: #194e72;
    font-weight: bold;
    font-size: 20px;
    padding: 80px;
    border-radius: 20px;
}
.skills {
    height: 545px;
    background: #185b6b;
    font-weight: 700;
    font-size: 20px;
    padding: 80px;
    border-radius: 20px;
}
.skills-h2 {
    text-align: center;
}
.skills-list-1 {
    float: left;
    position: relative;
    left: 150px;
}
.skills-list-2 {
    float: right;
    position: relative;
    right: 185px;
}
.skills-item {
    list-style-type: square;
    display: list-item;
}
.code-example {
    height: 1090px;
    background: #371b77;
    font-weight: bold;
    font-size: 20px;
    padding: 80px;
    border-radius: 20px;
}
.code-example-h2 {
    text-align: right;
}
.projects {
    height: 360px;
    background: #68486b;
    font-weight: bold;
    font-size: 20px;
    padding: 80px;
    border-radius: 20px;
}
.projects-h2 {
    color: yellow;
    position: relative;
    left: 100px;
}
.github-1 {
    font-size: 20px;
    position: relative;
    left: 350px;
}
.github-2 {
    font-size: 20px;
    position: relative;
    left: 600px;
}
.education {
    height: 385px;
    background: #1a6375;
    font-weight: bold;
    font-size: 20px;
    padding: 80px;
    border-radius: 20px;
}
.education-h2 {
    text-align: center;
}
.education-list {
    position: relative;
    left: 150px;
}
.education-item {
    list-style-type: square;
    display: list-item;
}
.english {
    height: 350px;
    background: #1a7566;
    font-weight: bold;
    font-size: 20px;
    padding: 80px;
    border-radius: 20px;
}
.english-h2 {
    color: yellow;
    font-size: 30px;
    position: relative;
    left: 300px;
}
.english-item {
    text-align: center;
    font-size: 40px;
    position: relative;
    left: 320px;
    color: red;
}
footer {
    height: 250px;
    background: #2c3e50;
    border-radius: 20px;
}
.rss {
    float: right;
    position: relative;
    right: 235px;
    top: 80px;
}
.link {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 235px;
    top: 80px;
}
.year {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 235px;
    top: 80px;
}
.top {
    font-size: 20px;
    line-height: 56px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: #2c3e50;
    position: fixed;
	right: 151px;
	bottom: 0px;
}